.search-container {
    position: absolute;
    width: 50%;
    height: 80px;
    background-color: #ffffff;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 50px;
    border: 1px solid #000000;
    display: grid;
    align-items: center;
    padding: 10px 20px;
    /* change this */
    display: none;
}

.search-input {
    border-radius: 20px;
}

.search-btn {
    width: 70px;
    height: 25px;
    font-size: 16px;
    border-radius: 20px;
}