div .main{
	overflow: auto;
	overflow-y: scroll;
	height: 650px;
}
.imageDesc1 {
	margin: 10px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;

  } 
.image {
	width: 220px;
	height: 165px;
	float: center;
	align-items: center;
	border: 3px solid white;
	border-radius: 10px;
	margin: 10px;

  }
.imageDesc1 p{
	background-color: lightgrey;
	float: center;
	width: 600px;
	height: 169px;
	text-align: center;
	justify-content: center;

  }
