.login {
  margin-top: -50px;
  overflow: auto;
  overflow-y: scroll;
  height: 750px;
  scale: calc(100%);
}

.login h1 {
  display: flexbox;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #3c4042;
  color: white;
  width: 500px;
  font-family: "Space Mono";
  border-radius: 5px;
}

.login p {
  display: flexbox;
  font-family: "Space Mono";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  background-color: lightblue;
  border-radius: 5px;
}

.login-form {
  margin: 3rem auto;
  width: 500px;
  max-width: 80%;
  padding: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.login-form > div {
  display: flex;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.login-input-group > label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.login-input {
  width: 96.5%;
  display: flex;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-input:focus {
  outline: none;
}

.login-input > div {
  padding: 0.5rem 1rem;
  background: #e34728;
  margin-left: 0.5rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.login-submit-btn,
.login-sign-up-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1.2rem 0;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Space Mono";
}

.login-submit-btn {
  border: 1px solid #e34728;
  background: #e34728;
}

.login-sign-up-btn,
.login-sign-up-btn:visited {
  border: 1px solid #551a8b;
  background-color: #551a8b;
}
