.sign-up {
  margin-top: 150px;
  overflow: hidden;
  height: 750px;
  scale: calc(135%);
}

.sign-up h1 {
  display: flexbox;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #3c4042;
  color: white;
  width: 500px;
  font-family: "Space Mono";
  border-radius: 5px;
}

.sign-up p {
  display: flexbox;
  font-family: "Space Mono";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  background-color: lightblue;
}

.sign-up-form {
  margin: 3rem auto;
  width: 500px;
  max-width: 80%;
  padding: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.sign-up-form > div {
  display: flex;
}

.sign-up-input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sign-up-input-group > label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.sign-up-input {
  width: 96.5%;
  display: flex;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sign-up-input:focus {
  outline: none;
}

.sign-up-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1.2rem 0;
  background: white;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Space Mono";
}

.sign-up-btn,
.sign-up-btn:visited {
  border: 1px solid #551a8b;
  background-color: #551a8b;
}
